@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #fff;
    font-family: Arial, PT Sans, sans-serif;
    color: rgb(15, 17, 17);
  }
  
  input,
  textarea {
    color: #000;
  }
  